version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: knowledge_hub_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
